
body {
  color:#ffffff; /*Kolor całego textu */
  background-color: #8681a1; /*Kolor tła*/
}

/* Kolor tła navbar'a */
.navbar-default {
background-color: #252442;
}
/* Kolor textu logo */
.navbar-default .navbar-brand {
    color: #fff;
}
/* Kolor hover'a logo */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FF9900;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #fff; /* Kolor textu przy liście rozwijanej */
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FF9900;
  background-color: transparent;
}
/* Kolor tla po kliknieciu listy rozwijanej */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #676283;
  color: #ffffff;
}
.dropdown-menu {
  background-color: #676283;
}

.dropdown-menu > li > a {
  color: #ffffff;
}

.panel {
    background-color: #353254;
}
.panel-footer {
    background-color: #676283;
}
.panel-default > .panel-heading {
  color: #ffffff;
  background-color: #676283;
  border-color: #d3e0e9;
}

.text-primary {
    color: #252442;
}
.text-danger {
    color: #FF9900;
}
